[
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a1",
    "node_type": "article",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 1,
      "article_title": "Phạm vi điều chỉnh",
      "clause_number": null,
      "clause_title": null,
      "point": null,
      "lead_in_text": null,
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 1. Phạm vi điều chỉnh"
      ]
    },
    "text": "Bộ luật Lao động quy định tiêu chuẩn lao động; quyền, nghĩa vụ, trách nhiệm của người lao động, người sử dụng lao động, tổ chức đại diện người lao động tại cơ sở, tổ chức đại diện người sử dụng lao động trong quan hệ lao động và các quan hệ khác liên quan trực tiếp đến quan hệ lao động; quản lý nhà nước về lao động.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a2_c1",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 2,
      "article_title": "Đối tượng áp dụng",
      "clause_number": 1,
      "clause_title": null,
      "point": null,
      "lead_in_text": null,
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 2. Đối tượng áp dụng",
        "Khoản 1"
      ]
    },
    "text": "Người lao động, người học nghề, người tập nghề và người làm việc không có quan hệ lao động.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a2_c2",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 2,
      "article_title": "Đối tượng áp dụng",
      "clause_number": 2,
      "clause_title": null,
      "point": null,
      "lead_in_text": null,
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 2. Đối tượng áp dụng",
        "Khoản 2"
      ]
    },
    "text": "Người sử dụng lao động.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a2_c3",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 2,
      "article_title": "Đối tượng áp dụng",
      "clause_number": 3,
      "clause_title": null,
      "point": null,
      "lead_in_text": null,
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 2. Đối tượng áp dụng",
        "Khoản 3"
      ]
    },
    "text": "Người lao động nước ngoài làm việc tại Việt Nam.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a2_c4",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 2,
      "article_title": "Đối tượng áp dụng",
      "clause_number": 4,
      "clause_title": null,
      "point": null,
      "lead_in_text": null,
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 2. Đối tượng áp dụng",
        "Khoản 4"
      ]
    },
    "text": "Cơ quan, tổ chức, cá nhân khác có liên quan trực tiếp đến quan hệ lao động.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a3_c1",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 3,
      "article_title": "Giải thích từ ngữ",
      "clause_number": 1,
      "clause_title": null,
      "point": null,
      "lead_in_text": "Trong Bộ luật này, các từ ngữ dưới đây được hiểu như sau:",
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 3. Giải thích từ ngữ",
        "Khoản 1"
      ]
    },
    "text": "Người lao động là người làm việc cho người sử dụng lao động theo thỏa thuận, được trả lương và chịu sự quản lý, điều hành, giám sát của người sử dụng lao động.\nĐộ tuổi lao động tối thiểu của người lao động là đủ 15 tuổi, trừ trường hợp quy định tại Mục 1 Chương XI của Bộ luật này.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a3_c2",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 3,
      "article_title": "Giải thích từ ngữ",
      "clause_number": 2,
      "clause_title": null,
      "point": null,
      "lead_in_text": "Trong Bộ luật này, các từ ngữ dưới đây được hiểu như sau:",
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 3. Giải thích từ ngữ",
        "Khoản 2"
      ]
    },
    "text": "Người sử dụng lao động là doanh nghiệp, cơ quan, tổ chức, hợp tác xã, hộ gia đình, cá nhân có thuê mướn, sử dụng người lao động làm việc cho mình theo thỏa thuận; trường hợp người sử dụng lao động là cá nhân thì phải có năng lực hành vi dân sự đầy đủ.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a3_c3",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 3,
      "article_title": "Giải thích từ ngữ",
      "clause_number": 3,
      "clause_title": null,
      "point": null,
      "lead_in_text": "Trong Bộ luật này, các từ ngữ dưới đây được hiểu như sau:",
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 3. Giải thích từ ngữ",
        "Khoản 3"
      ]
    },
    "text": "Tổ chức đại diện người lao động tại cơ sở là tổ chức được thành lập trên cơ sở tự nguyện của người lao động tại một đơn vị sử dụng lao động nhằm mục đích bảo vệ quyền và lợi ích hợp pháp, chính đáng của người lao động trong quan hệ lao động thông qua thương lượng tập thể hoặc các hình thức khác theo quy định của pháp luật về lao động. Tổ chức đại diện người lao động tại cơ sở bao gồm công đoàn cơ sở và tổ chức của người lao động tại doanh nghiệp.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a3_c4",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 3,
      "article_title": "Giải thích từ ngữ",
      "clause_number": 4,
      "clause_title": null,
      "point": null,
      "lead_in_text": "Trong Bộ luật này, các từ ngữ dưới đây được hiểu như sau:",
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 3. Giải thích từ ngữ",
        "Khoản 4"
      ]
    },
    "text": "Tổ chức đại diện người sử dụng lao động là tổ chức được thành lập hợp pháp, đại diện và bảo vệ quyền, lợi ích hợp pháp của người sử dụng lao động trong quan hệ lao động.",
    "amendment_notes": []
  },
  {
    "chunk_id": "law_8680dd55cf741ae869eb0f099f1cab4a_a3_c5",
    "node_type": "clause",
    "metadata": {
      "document_id": "8680dd55cf741ae869eb0f099f1cab4a",
      "document_type": "Bộ luật",
      "document_title": "Bộ Luật lao động số 45/2019/QH14",
      "doc_identity": "45/2019/QH14",
      "major_names": null,
      "field_names": [
        "Chưa phân loại"
      ],
      "issue_date": "2019-11-20",
      "effect_date": "2021-01-01",
      "effect_status_name": "Hết hiệu lực một phần",
      "expire_date": null,
      "organ_names": [
        "Quốc hội"
      ],
      "signer_title_names": [
        "Nữ Chủ tịch quốc hội"
      ],
      "signer_names": [
        "Nguyễn Thị Kim Ngân"
      ],
      "vbpl_url": "https://vbpl.vn/van-ban/chi-tiet/bo-luat-lao-dong-so-45-2019-qh14--139264",
      "source_guid": null,
      "scraped_date": "2026-07-01T02:37:50.786547+07:00",
      "part_number": null,
      "part_title": null,
      "chapter_number": "I",
      "chapter_title": "NHỮNG QUY ĐỊNH CHUNG",
      "section_number": null,
      "section_title": null,
      "article_number": 3,
      "article_title": "Giải thích từ ngữ",
      "clause_number": 5,
      "clause_title": null,
      "point": null,
      "lead_in_text": "Trong Bộ luật này, các từ ngữ dưới đây được hiểu như sau:",
      "hierarchy_path": [
        "Bộ Luật lao động số 45/2019/QH14",
        "Chương I. NHỮNG QUY ĐỊNH CHUNG",
        "Điều 3. Giải thích từ ngữ",
        "Khoản 5"
      ]
    },
    "text": "Quan hệ lao động là quan hệ xã hội phát sinh trong việc thuê mướn, sử dụng lao động, trả lương giữa người lao động, người sử dụng lao động, các tổ chức đại diện của các bên, cơ quan nhà nước có thẩm quyền. Quan hệ lao động bao gồm quan hệ lao động cá nhân và quan hệ lao động tập thể.",
    "amendment_notes": []
  }
]